.cartContainer {
    background-color: #fff;
    height: 300px;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

.fixed-lg {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 350px;
    background-color: #f8f9fa; /* Cor de fundo */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.cartTitle {
    color: #b23515;
    text-align: left;
}

.cartImage {
    padding: 20px;
}

.cartInfo {
    color: #b18f8b;
    font-size: 0.9rem;
}

@media (max-width: 1200px) {
    .fixed-lg {
        display: none;
    }
    .btn-open-cart {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}
