.title {
    font-size: 4rem;
    font-weight: 600;
}

p {
    margin-bottom: 0;
}

.productsContainer {
    display: flex;
    gap: 30px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.dessertsImage {
    max-width: 300px;
    position: relative;
    border-radius: 10px;
}

.dessertInfo {
    padding-top: 30px;
}

.cardProducts {
    position: relative;
}

.cardButtonContainer {
    position: absolute;
    bottom: 70px;
    left: 70px;
}

.cardButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #601c05;
    background-color: #fff;
    width: 150px;
    padding: 8px 10px;
    border-radius: 50px;
}

.cardButton:hover {
    border: 1px solid #ca3b0d;
    color: #ca3b0d;
}

.cardText {
    margin-bottom: 0;
}

.productCategory {
    color: #c6b0a9;
    font-size: 0.8rem;
}

.productName {
    font-size: 1rem;
    font-weight: 600;
}

.productPrice {
    color: #b23515;
    font-size: 0.95rem;
    font-weight: 600;
}
