* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    background-color: #fcf8f6;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
